*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Space Mono", monospace;
}

:root{

    /* Light Mode configurations */
    --lm-bg: #f6f8ff;
    --lm-bg-content: #fefefe;
    --lm-text: #4b6a9b;
    --lm-text-alt: #2b3442;
    --lm-shadow: 10px 10px 10px -10px rgba(70, 96, 187, 0.2);
    --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
    --lm-icon-bg: #4b6a9b;

    /* Button */
    --btn: #0079ff;
    --btn-hover: #60abff;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: var(--lm-bg);
    transition: all 0.3s ease-in-out 0s;
}

.container{

    width: 362px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2.5rem;
}

.header{

    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    color:var(--lm-text);
}

.header h1{

    font-size: 1.7rem;
}

#theme-toggle{

    /* width: 92px; */
    display: flex;
    align-items: center;
    gap: 0.5rem;
    letter-spacing: 2.5px;
    cursor: pointer;
    user-select: none;
}

#theme-value{

    text-transform: uppercase;
    
}

.search-container{

    position: relative;
    background-color: var(--lm-bg-content);
    border-radius: 15px;
    box-shadow: var(--lm-shadow);
    padding: 6px;
    /* height: 100%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out 0s;
    
}

#search-icon{

    height: 20px;
    width: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2%;
    
}

#input{

    border: none;
    color: var(--lm-text);
    outline: none;
    background: none;
    margin-left: 32px;
    padding-right: 16px;
    font-size: 17px;
    
}

#input::placeholder{

    color: var(--lm-text);
    font-size: 13px;
    font-family: "Space Mono", monospace;
}

#search{

    min-width: 44px;
    padding: 15px 22px;
    background-color: var(--btn);
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 14px;
    font-weight: bold;

}

#search:hover{

    cursor: pointer;
    background-color: var(--btn-hover);
}

#search:active{

    transform: scale(0.975);
}

.profile-container{

    width: 100%;
    background-color: var(--lm-bg-content);
    box-shadow: var(--lm-shadow);
    border-radius: 15px;
    padding: 1.75rem 1.725rem;
    transition: all 0.3s ease-in-out 0s;
}

.profile-content{

    display: flex;
    flex-direction: column;
}

.profile-header{

    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin-bottom: 1.2rem;
}

#user_avataar{

    width: 80px;
    border-radius: 90px;
}

.name-uname-doj{

    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

#user_name{

    font-size: 17px;
    font-weight: bold;
    color: var(--lm-text-alt);
}

#user_profile{

    color: var(--btn);
}

#date_joined{

    font-size: 15px;
    color: var(--lm-text);
}

#user_description{

    font-size: 15px;
    margin-top: 12px;
    line-height: 25px;
    opacity: 0.75;
    color: var(--lm-text);

}

.stats-container{

    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lm-bg);
    border-radius: 15px;
    padding: 1.4rem 2rem;
    transition: all 0.3s ease-in-out 0s;

}

#stats-content{

    display: flex;
    flex-direction: column;
    gap: 9px;
}

#stats-heading{

    font-size: 12px;
    font-weight: lighter;
    color: var(--lm-text);
}

.stat-value{

    font-size: 19px;
    font-weight: bold;
    color: var(--lm-text-alt);
}

#other-info{

    margin-top: 32px;
    display: flex;
    flex-wrap: wrap;
    gap: 29px;
    margin-left: 20px;
    
}

.other-info-content{

    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--lm-text);
}

.description{

    all: unset;
    cursor: pointer;
    text-decoration: underline;
    
}

.icons{

    filter: var(--lm-icon-bg);
}


@media screen and (min-width:768px) and (max-width:1280px){

    .container{

        width: 573px;
    }

    .profile-content{
        flex-direction: column;
    }

    #name-date{

        flex-direction: column;
        gap: 2px;
    }
    
}

/* Desktop */
@media screen and (min-width: 1280px) {

    .container{

        width: 700px;
    }

    .search-container{

        display: flex;
        
    }

    #input{

        width: 80%;
        margin-left: 42px;

    }

    #input::placeholder{

        font-size: 17px;
    }

    .profile-container{

        position: relative;
    }

    .profile-content{

        width: 492px;
        margin-left: auto;

    }
    .profile-header{
        flex-direction: row;
        justify-content: space-between;
    }

    #user_avataar{
        position: absolute;
        width: 120px;
        left: 25px;
    }

    .name-uname-doj{

        width: 100%;
        flex-direction: row;
        justify-content: space-between;

    }

    #user_name{

        font-size: 27px;
    }

    #date_joined{

        margin-top: 12px;
    }

    #user_description{

        margin-left: 22px;
    }
}